*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

.navbar{
    width: 100%;
    height: 60px;
    background: rgba(97, 100, 105,0.4);
    position: fixed;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo__container{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 50px;
}

.logo__container #logo{
    font-weight: 800;
    color: white;
    background: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0px 3px;
}

.navbar__menu{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__item{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2ms ease;
    box-sizing: border-box;
}


.navbar__item a{
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: all 2ms ease-in-out;
    padding: 5px 25px;
}

.navbar__item a:hover{
    color: black;
    background: white;
    border-radius: 4px;
}

.foot{
    width: 25%;
    height: 30px;
    background: rgba(97, 100, 105,0.4);
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-content: center;
}

.foot__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot__container__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot__container__item #dot{
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    margin-left: 10px;
}

.foot__container__item .text{
    font-size: 0.8rem;
    color: white;
}

.linked__in__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: white;
    padding: 3px;
    color: black;
    border: 1px solid white;
    border-radius: 10%;
    font-size: 0.7rem;
    margin-left: 10px;
}

.linked__in__logo a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px ){
    .navbar__menu{
        margin-right: 20px;
    }

    .foot__container__item .text{
        font-size: 0.5rem;
    }

    .linked__in__logo{
        width: 15px;
        height: 15px;
        padding: 2px;
        border-radius: 10%;
        font-size: 0.4rem;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 600px){
    .foot{
        width: 30%;
    }
}

@media only screen and (max-width: 500px){
    .navbar__menu{
        margin-right: 40px;
    }

    .logo__container{
        width: 40%;
        padding: 0px 25px;
    }

    .logo__container #logo{
        font-size: 0.8rem;
    }

    .navbar__item a{
        font-size: 0.8rem;
    }

    .foot{
        width: 30%;
        height: 25px;
    }

    .foot__container__item .text{
        font-size: 0.4rem;
    }

    .linked__in__logo{
        width: 15px;
        height: 15px;
        padding: 2px;
        border-radius: 10%;
        font-size: 0.4rem;
        margin-left: 5px;
    }
}

@media only screen and (max-width:340px){
    .logo__container{
        width: 30%;
        padding: 0px 10px;
    }

    .navbar__item{
        width: 100px;
    }

    .navbar__item a{
        padding: 3px 5px;
        font-size: 0.7rem;
        margin: 0px 3px;
    }

    .foot{
        width: 35%;
        height: 20px;
    }

    .foot__container__item .text{
        font-size: 0.3rem;
    }

    .linked__in__logo{
        width: 10px;
        height: 10px;
        padding: 2px;
        border-radius: 10%;
        font-size: 0.3rem;
        margin-left: 3px;
    }
}