*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

.navbar{
    width: 100%;
    height: 60px;
    background: rgba(97, 100, 105,0.4);
    position: fixed;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo__container{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 50px;
}

.logo__container #logo{
    font-weight: 800;
    color: black;
    background: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 0px 3px;
}

.navbar__menu{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__item{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2ms ease;
    box-sizing: border-box;
}

.navbar__item a{
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: all 2ms ease-in-out;
    padding: 5px 25px;
}

.navbar__item a:hover{
    color: black;
    background: white;
    border-radius: 4px;
}